a{
    text-decoration: none;
    margin: 20px;
}
.header{
    position: fixed;
    border-radius: 20px;
    background: lightgreen;
    width: 300px;
    height: 100px;
    align-items: center;
    text-align: center;
    margin-left: 400px;
}
a:hover{
    cursor: pointer;
    background-color: lightblue;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}
a.visted{
    color: green;
}
a.active{
    color:purple;
}
.yoyo{
    color: aqua;
}
.yoyofixed{
    position: relative;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.abs{
    position: absolute;
}